<div class="container-fluid text-center py-4">
	<h4> Nombre del Evento</h4>

	<p>Category: <%= @event.category %> </p>

	<p>Date: <%= @event.date %> </p>

	<h5>Acá estarían mis fotos... Si tuviera UNAS!!!</h5>

	<%= link_to 'Back', events_path %>
</div>

