<div class="container-fluid text-center py-5">
	<h3>Realizaste una reserva con <%= @reservation.photographer.name%>!</h3>
	<h5>El estado de tu reserva es: <%= @reservation.payed? %></h5>
	<%= link_to 'Paga reserva', pre_pay_billings_path, class: 'nav-link'%>
	<%= link_to 'Back', reservations_path, class: 'nav-link' %> 
</div>

